nav.navbar.fixed-top.navbar-expand-lg.navbar-light.at_top
  .container
    a.navbar-brand(href='#header_index')
      img.logo(src="https://i.imgur.com/wTyr8Vj.png", alt="")
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item.active.right
          a.nav-link(href='#section_about') About
        li.nav-item.active.right
          a.nav-link(href='#section_experience') Experience
        li.nav-item.active.right
          a.nav-link(href='#section_skills') Skills
        li.nav-item.active.right
          a.nav-link(href='https://cdpn.io/AliceChang/debug/yLybMvX/yPMJjKEGYxJM#section_experience') Portfolio
        li.nav-item.active
          a.nav-link(href='#section_contact') Contact
header#header_index
  .container
    h1 Travel Web Design
    img(src="https://i.imgur.com/5q9GNuy.jpg", alt="")
    .bottom
.gotop
footer#footer
  h6 Copyright © Wei-Yi Chang 2020